@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing:border-box;
}

body{
    padding:0;
    margin:0;
    height:100vh;
    font-family: 'Montserrat';
    color:black;
}

div.spam{
    background-color:rgb(179, 179, 207);
    height:20px;
    padding:17px;
    display:flex;
    justify-content: center;
    align-items: center;
}



nav{
    position:fixed ;
    box-shadow: 0px 1px 40px 0;
    background-color: white;
    width:100vw;
    height:8vh;
    display:flex;
    justify-content: center;
    align-items:center;
   
    
    
}

div.second{
    display:flex;
    width:100%;
    justify-content: flex-start;
    height:100%;
    width:100%;
    visibility: hidden;
   
}





a.nav-section{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    color:black;
    text-decoration: none;

}

a.nav-section:hover{
    background-color: rgb(39, 189, 39)
}


nav div.hamburger{
    width:50px;
    height:50px; 

}

nav div.hamburger div.hamburger-active{   
    position:relative;
    width:100%;
    height:100%;
}

nav div.hamburger input{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    visibility:hidden ;
   
}



nav div.hamburger label.icon{
    position:absolute;
    left:0px;
    width:100%;
    height:100%;
    transform: rotate(0deg);
    transition: transform 180ms linear;
  
    


}

input[type="checkbox"]:checked ~ label.icon {
    transform: rotate(90deg);

}


nav div.hamburger label.icon img{
    width:100%;
    height:100%;
    
}



nav div.hamburger div.menu{
    position:absolute;
    top:53px;
    width:50vw;
    height:auto;
    background-color: white;
    border-radius: 0px;
    visibility:hidden;
    opacity: 0;
    color:black
    

    
    
    
}

nav div.hamburger div.menu a{
   
    display: block;
    width:100%;
    height: 100px;
    padding:20px;
    border-bottom: 1px solid rgb(201, 201, 201);
    text-decoration: none;
    color:black;

}

nav div.hamburger div.menu a.border-top{
    border-top: 1px solid rgb(201, 201, 201);
}

nav div.hamburger div.menu a:hover{
    background-color: rgb(39, 189, 39)
}

nav div.hamburger input:checked + div.menu{
    visibility: visible;
    opacity: 1;
    transition: opacity linear 300ms ;
}



div.logo-image{
    height:70px;
    width:180px
}

div.logo-image img{
    width:100%;
    height:100%;
}

div.background{
    background-image: url(../img/landscape.jpg);
    height:80vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding:20px;
    color:white;
    height: 100%;

    
}

header{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content:Center;
    color:rgb(255, 255, 255);
  
    
}

header h1{
    font-weight:900;
}

header h2{
    font-size: 15px;
    font-weight: 300;
}


header div.header-buttons a{
    margin-top:30px;
    padding:5px;
    border:none;
    border-radius:17px;
    background-color: white;
    color:black;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
}

header a:hover{
    background-color: rgb(39, 189, 39)
}


main{
    height:auto;

}


/**/



div.curricolum{
    padding:60px;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;



}

div.curricolum h2{
    align-self:flex-start;
    margin-bottom:80px;
}






div.first-part{

    width:100%;
    height: 110vh;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

div.image-title{
    width:100%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div.p-button{
    display:flex;
    justify-content:top;
    align-items: center;
    flex-direction: column;
    height:40%;
}

div.curricolum-image{
    
    width:75%;
    height:20rem;
    background-image: url(../img/curricolum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:100px;
    background-position-y:10% ;
    background-position-x:80%
 
}


.first-part h2{
    font-family:'Dancing Script';
    display:flex;
    justify-content: center;
    margin:0;
    padding:20px;

}




.first-part p{
    line-height: 35px;
    padding-left: 50px ;
    padding-right: 50px;
    margin:0;
}



div.first-part a.description-image{
    height:20%;
    min-width:14%;
    background-color: black;
    text-decoration: none;
    color:black;
    font-size:20px ;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    border:1px solid black;
    border-radius:5px;
    background-color: white;

    
}




/**/



div.principal-service-group{
    padding:2rem;
}

div.principal-service-group h2{
    margin:0;  
}

div.principal-service{
    margin-top:4rem;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
          
    }



    .service-group.one {
        background-image: url(../img/potatura.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position:right;
        grid-area: img-one;
    }

    .service-group.two {
        background-image: url(../img/studiodifattibilità.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        grid-area: img-two;
        background-color: rgb(248, 255, 243);

    }

    .service-group.three {
        background-image: url(../img/riconoscimento-varietale.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: img-three;

    }

    .service-group.four{

        background-image: url(../img/olivetialtadensità.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: img-four;


    }

    

    .service-group{
        width:100%;
        height: 18rem;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }



    .service-group h3{
        color:white;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
    }


    



   

    div.raggio-azione{
        display:flex;
        flex-direction: column;
        min-height: 60vh;
        justify-content: center;
        
        width:100%;
          

    }

    div.raggio-azione h2{
        margin:0;
        padding:0;
        display:flex;
        justify-content: center;
        font-size:17px

    }

    div.contatti-description a:hover{
        background-color:  rgb(242, 33, 33);
    }


    div.raggio-azione-description{
        margin:0;

        padding:30px
    }


    div.raggio-azione-description p{
        line-height: 2rem;
        padding:20px;
        font-size: 15px;
    }

    ul{
        width:100%;
        height: 100%;
        list-style: none;     
        padding: 0;            
        margin: 0 auto;        
        display: table;        
        text-align: center;

    }

    li{
        margin: 5px 0; 
        line-height: 30px;
    }



    

    footer{
    height: 38.5rem;
    background-color:rgb(40, 40, 42);
    color:white;
    padding:20px;
    margin-top:0px;
    height:20rem;
    font-size:15px;
    }

    a:link
    {
        color: white;
    }

    footer a:hover
    {
        color:grey;
        cursor:pointer;
        text-decoration: underline;
    }

    /*div.spam a
    {
        color:rgb(142, 189, 0);
        font-weight: bold;
        text-decoration:none;
    }*/







p.author{
    font-size: 13px;
}



@media screen and (min-width:0px){

    div.first{

        width:100%;
        justify-content: flex-start;

}

    
}

@media screen and (min-width:768px){


    div.first-part{

    width:100%;
    height: 100vh;
    flex-direction: row;


}

div.image-title{
    width:50%;
    height: 100%;
    flex-direction: column;
}

div.p-button{
    flex-direction: column;/**/
    justify-content: center;
    height:100%;/**/
    width:50%;/**/

}

div.first-part a.description-image{
    height:7%;
    align-self: center;

    
}



    
    
    div.principal-service-group{
        margin-top:0rem;
    }


    div.principal-service{
        width:100%;       
        height:60rem;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:auto;
        gap : 30px;
        grid-template-areas: 
        '  img-one    img-three  '
        '  img-two  img-four  ';

    }



    footer{
    margin:0;
}


    
    
}

@media screen and (min-width:1153px){


    div.first{
        display:none;
    }
    
    div.second{
        visibility: visible;

    }


    div.image-title{

    width:50%;
    height: 100%;

}

div.curricolum-image{
    height:70% 
}

div.p-button{

    height:100%;
    width:50%;
}

    footer{

    margin:0;

}



}

@media screen and (min-width:2028px){

    div.curricolum-image{
    height:86% 
}

}




